---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};
$side-art-min-width: {{ site.side_art.min_viewport_width | default: 1200 }}px;
$side-art-content-offset: {{ site.side_art.content_offset | default: 0 }}px;
$side-cortex-opacity: {{ site.side_art.cortex.opacity | default: 0.75 }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
